In [1]:
import numpy as np
import pandas as pd

## Exercícios

1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Conté informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases e utilizando os métodos de concatenação de bases responda:

In [2]:
df_customer = pd.read_csv("./Lets_Code_DS_Degree_Alunos/Módulo 3 - Pandas/data/customer.csv", sep=',')
df_products = pd.read_csv("./Lets_Code_DS_Degree_Alunos/Módulo 3 - Pandas/data/products.csv", sep=',')
df_sales = pd.read_csv("./Lets_Code_DS_Degree_Alunos/Módulo 3 - Pandas/data/sales.csv", sep=',')

a) Quais produtos não foram vendidos?

In [37]:
nao_vendido = df_products.merge(df_sales.pivot_table(values='product', index='p_id', aggfunc='count'), how='left', on='p_id')
nao_vendido = nao_vendido[nao_vendido['product_y'].isna()]
nao_vendido

   p_id     product_x  price  product_y
0     1     Hard Disk     80        NaN
4     5      Keyboard     20        NaN
5     6         Mouse     10        NaN
6     7   Motherboard     50        NaN
7     8  Power supply     20        NaN

b) Quantos clientes não realizaram uma compra?

In [41]:
clientes_ncompra = df_customer.merge(df_sales.pivot_table(values='product', index='c_id', aggfunc='count'), how='left', on='c_id')
clientes_ncompra = clientes_ncompra[clientes_ncompra['product'].isna()]
clientes_ncompra

   c_id Customer  product
4     5     King      NaN
5     7     Ronn      NaN
6     8      Jem      NaN
7     9      Tom      NaN

c) Liste a quantidade vendida e o faturamento de cada produto

In [48]:
full_sales = df_sales.merge(df_products[['p_id', 'price']], on="p_id", how='left')
full_sales['revenue'] = full_sales['qty'] * full_sales['price']
full_sales.pivot_table(index='product', values=['qty', 'revenue'], aggfunc='sum')

         qty  revenue
product
CPU        1       55
Monitor   12      900
RAM        7      630

d) Liste a quantidade vendida de cada produto por loja

In [51]:
full_sales.pivot_table(index='product', columns='store',values='qty', aggfunc='sum')

store     ABC  DEF
product
CPU       NaN  1.0
Monitor  10.0  2.0
RAM       3.0  4.0

e) Qual loja teve maior faturamento?

In [56]:
full_sales.pivot_table(index='store', values='revenue', aggfunc='sum').reset_index().sort_values(by='revenue', ascending=False).head(1)

  store  revenue
0   ABC     1020

f) Qual produto foi o mais vendido?

In [58]:
full_sales.pivot_table(index='product', values='qty', aggfunc='sum').reset_index().sort_values(by='qty', ascending=False).head(1)

   product  qty
1  Monitor   12