In [1]:
import numpy as np
import pandas as pd

## Exercícios

1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Contém informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases responda:

a) Quais foram os produtos vendidos?

In [3]:
df_customer = pd.read_csv("./Lets_Code_DS_Degree_Alunos/Módulo 3 - Pandas/data/customer.csv", sep=',')
df_products = pd.read_csv("./Lets_Code_DS_Degree_Alunos/Módulo 3 - Pandas/data/products.csv", sep=',')
df_sales = pd.read_csv("./Lets_Code_DS_Degree_Alunos/Módulo 3 - Pandas/data/sales.csv", sep=',')

In [15]:
vendidos = df_sales['product'].unique()
vendidos

array(['Monitor', 'CPU', 'RAM'], dtype=object)

b) E os não vendidos?

In [24]:
produtos = df_products['product'].unique()
nao_vendidos = np.isin(produtos, vendidos, invert=True)
nao_vendidos = produtos[nao_vendidos]
nao_vendidos

array(['Hard Disk', 'Keyboard', 'Mouse', 'Motherboard', 'Power supply'],
      dtype=object)

c) Quais foram as cinco maiores vendas? Salve essas vendas em um arquivo excel.

In [41]:
full_sales = pd.merge(df_sales, df_products, on="p_id")
full_sales.drop('product_y', axis=1, inplace=True)
full_sales['revenue'] = full_sales['qty'] * full_sales['price']
full_sales.rename(mapper={'product_x':'product'}, axis=1, inplace=True)
top5_sales = full_sales.sort_values(by='revenue', ascending=False).head()
top5_sales

   sale_id  c_id  p_id  product  qty store  price  revenue
7        7     2     2      RAM    3   ABC     90      270
1        3     1     3  Monitor    3   ABC     75      225
2        5     2     3  Monitor    3   ABC     75      225
6        4     4     2      RAM    2   DEF     90      180
8        8     3     2      RAM    2   DEF     90      180

In [42]:
top5_sales.to_excel('top5.xlsx', index = False)

d) Liste a quantidade vendida de cada produto. Utilize um loop for para isso.

In [44]:
df_sales.pivot_table(values='qty', index='product', sort=True)

              qty
product
CPU      1.000000
Monitor  2.400000
RAM      2.333333

e) Liste a quantidade vendida de cada loja.

In [45]:
df_sales.pivot_table(values='qty', index='store', sort=True)

        qty
store
ABC    2.60
DEF    1.75

f) Liste a quantidade vendida de cada produto por loja.

In [46]:
df_sales.pivot_table(values='qty', index='product', columns='store', sort=True)

store    ABC  DEF
product
CPU      NaN  1.0
Monitor  2.5  2.0
RAM      3.0  2.0